<h1>Your Marks</h1>

<% if @marks.present? %> 
  <% @marks.each do |m| %> 
    <h5><%= m.username %></h5> 
    <h5><%= image_tag m.image_url %></h5> 
    <h5>Location: <%=if  m.location.nil? then "N/A" else m.location end %></h5> 
    <h5><%= link_to "Go to Profile", m.link %></h5>
    
  <% end %> 
<% else %> 
  <h2>No Marks yet!</h2>
<% end %> 