---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/search.json?q=cat
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="dJwBdO5ZoQH2OnCNjMKJvYnhn", oauth_nonce="ab910db0673b3305bced32a85e86a6b3",
        oauth_signature="1X0OcSE7Zj%2BDLcAQf%2BMZddIU51I%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1452837000", oauth_token="80077789-0JZP99XKtgmjNYsHFH3PsrkQaAb618jBA3atLCbsl",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 15 Jan 2016 05:50:00 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - e3933050685a3afde70e7e346415442d
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1452837900'
      X-Response-Time:
      - '112'
      X-Transaction:
      - d8518ccd5f92fc79
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"id":3040591972,"id_str":"3040591972","name":"Cute Cat Pictures","screen_name":"CutePicsOfCats","location":"","description":"The
        cutest pictures of cats! Tweet us pictures with your lovely cat!","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":73020,"friends_count":42730,"listed_count":331,"created_at":"Mon
        Feb 16 11:28:26 +0000 2015","favourites_count":51691,"utc_offset":-28800,"time_zone":"Pacific
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":16076,"lang":"en","status":{"created_at":"Fri
        Jan 15 05:46:00 +0000 2016","id":687873345048674306,"id_str":"687873345048674306","text":"And
        now we know! https:\/\/t.co\/KRMkF6igel","source":"\u003ca href=\"https:\/\/about.twitter.com\/products\/tweetdeck\"
        rel=\"nofollow\"\u003eTweetDeck\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":6,"favorite_count":13,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[],"media":[{"id":687873344922849280,"id_str":"687873344922849280","indices":[17,40],"media_url":"http:\/\/pbs.twimg.com\/media\/CYvRKaaWEAASxQR.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CYvRKaaWEAASxQR.jpg","url":"https:\/\/t.co\/KRMkF6igel","display_url":"pic.twitter.com\/KRMkF6igel","expanded_url":"http:\/\/twitter.com\/CutePicsOfCats\/status\/687873345048674306\/photo\/1","type":"photo","sizes":{"medium":{"w":481,"h":720,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":340,"h":508,"resize":"fit"},"large":{"w":481,"h":720,"resize":"fit"}}}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/567285191169687553\/7kg_TF4l_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/567285191169687553\/7kg_TF4l_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/3040591972\/1424086616","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},{"id":53112502,"id_str":"53112502","name":"Simon''s
        Cat","screen_name":"SimonsCat","location":"London, UK","description":"The
        official Twitter page of Simon''s Cat.","url":"http:\/\/t.co\/gBazSjkAtB","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/gBazSjkAtB","expanded_url":"http:\/\/www.simonscat.com","display_url":"simonscat.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":169911,"friends_count":220,"listed_count":2569,"created_at":"Thu
        Jul 02 16:35:15 +0000 2009","favourites_count":1333,"utc_offset":0,"time_zone":"London","geo_enabled":false,"verified":true,"statuses_count":1026,"lang":"en","status":{"created_at":"Wed
        Jan 13 14:18:17 +0000 2016","id":687277488905535489,"id_str":"687277488905535489","text":"RT
        @DoodleDay: We''re excited to share a doodle by Simon Tofield, creator of
        @SimonsCat! https:\/\/t.co\/PwjTsjRtuN  #simonscat https:\/\/t.co\/Bl\u2026","source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Wed
        Jan 13 12:32:36 +0000 2016","id":687250896380686336,"id_str":"687250896380686336","text":"We''re
        excited to share a doodle by Simon Tofield, creator of @SimonsCat! https:\/\/t.co\/PwjTsjRtuN  #simonscat
        https:\/\/t.co\/Blbc0JFSsi","source":"\u003ca href=\"http:\/\/twitter.com\"
        rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":69,"favorite_count":205,"entities":{"hashtags":[{"text":"simonscat","indices":[98,108]}],"symbols":[],"user_mentions"[...]
