---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/search.json?q=cat
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="dJwBdO5ZoQH2OnCNjMKJvYnhn", oauth_nonce="5c911d4816052819900d2fda8d74f372",
        oauth_signature="BinAUoVI2qoaT2vAwGx32Smkc1E%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1452819522", oauth_token="80077789-0JZP99XKtgmjNYsHFH3PsrkQaAb618jBA3atLCbsl",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 15 Jan 2016 00:58:44 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 8c684a6d55931960571583dbb2153400
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '178'
      X-Rate-Limit-Reset:
      - '1452819843'
      X-Response-Time:
      - '120'
      X-Transaction:
      - f0f6b4bbe7586df6
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"id":3040591972,"id_str":"3040591972","name":"Cute Cat Pictures","screen_name":"CutePicsOfCats","location":"","description":"The
        cutest pictures of cats! Tweet us pictures with your lovely cat!","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":72957,"friends_count":42702,"listed_count":330,"created_at":"Mon
        Feb 16 11:28:26 +0000 2015","favourites_count":51694,"utc_offset":-28800,"time_zone":"Pacific
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":16064,"lang":"en","status":{"created_at":"Fri
        Jan 15 00:46:01 +0000 2016","id":687797851200569344,"id_str":"687797851200569344","text":"Kisses
        https:\/\/t.co\/LXsdoqQYsE","source":"\u003ca href=\"https:\/\/about.twitter.com\/products\/tweetdeck\"
        rel=\"nofollow\"\u003eTweetDeck\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":35,"favorite_count":58,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[],"media":[{"id":687797850915352576,"id_str":"687797850915352576","indices":[7,30],"media_url":"http:\/\/pbs.twimg.com\/media\/CYuMgFUWMAALeWM.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CYuMgFUWMAALeWM.jpg","url":"https:\/\/t.co\/LXsdoqQYsE","display_url":"pic.twitter.com\/LXsdoqQYsE","expanded_url":"http:\/\/twitter.com\/CutePicsOfCats\/status\/687797851200569344\/photo\/1","type":"photo","sizes":{"large":{"w":600,"h":600,"resize":"fit"},"medium":{"w":600,"h":600,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":340,"h":340,"resize":"fit"}}}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/567285191169687553\/7kg_TF4l_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/567285191169687553\/7kg_TF4l_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/3040591972\/1424086616","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},{"id":53112502,"id_str":"53112502","name":"Simon''s
        Cat","screen_name":"SimonsCat","location":"London, UK","description":"The
        official Twitter page of Simon''s Cat.","url":"http:\/\/t.co\/gBazSjkAtB","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/gBazSjkAtB","expanded_url":"http:\/\/www.simonscat.com","display_url":"simonscat.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":169903,"friends_count":220,"listed_count":2568,"created_at":"Thu
        Jul 02 16:35:15 +0000 2009","favourites_count":1333,"utc_offset":0,"time_zone":"London","geo_enabled":false,"verified":true,"statuses_count":1026,"lang":"en","status":{"created_at":"Wed
        Jan 13 14:18:17 +0000 2016","id":687277488905535489,"id_str":"687277488905535489","text":"RT
        @DoodleDay: We''re excited to share a doodle by Simon Tofield, creator of
        @SimonsCat! https:\/\/t.co\/PwjTsjRtuN  #simonscat https:\/\/t.co\/Bl\u2026","source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Wed
        Jan 13 12:32:36 +0000 2016","id":687250896380686336,"id_str":"687250896380686336","text":"We''re
        excited to share a doodle by Simon Tofield, creator of @SimonsCat! https:\/\/t.co\/PwjTsjRtuN  #simonscat
        https:\/\/t.co\/Blbc0JFSsi","source":"\u003ca href=\"http:\/\/twitter.com\"
        rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_re[...]
