<div class="container login-background">
  <div class="row">
    <div class="col-xs-4">
    </div>
    <div class="col-xs-4 fake-modal">
      <%= link_to "Log in with Vimeo", "/auth/vimeo", class: "btn btn-default login-button" %>
    </div>
    <div class="col-xs-4">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
    </div>
    <div class="col-xs-4 fake-modal">
      <%= link_to "Log in with Twitter", "/auth/twitter", class: "btn btn-default login-button" %>
    </div>
    <div class="col-xs-4">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
    </div>
    <div class="col-xs-4">
      <br />
      <p class="text-center">
        Or, log in with <%= link_to "Developer Strategy", "/auth/developer" %>
      </p>
    </div>
    <div class="col-xs-4">
    </div>
  </div>
</div>
