<h1>These are your search results</h1>

<ul>
  <% @results.each do |result| %>
    <li>
      <% if twitter_result? %>
        <%= result.screen_name %>
        <%= button_to "Subscribe", users_subscribe_path,  method: :patch, class: 'btn btn-primary' %>
      <% elsif vimeo_result? %>
        <%= result["name"] %>
      <% end %>
    <br />
    </li>
  <% end %>
</ul>
