<h1>These are your search results</h1>

<ul>
  <% @results.each do |result| %>
    <li>
      <% if twitter_result? %>
        <%= result.screen_name %>
        <%= button_to "Subscribe", subscribe_twitter_path, method: :patch, class: 'btn btn-primary', params: { screen_name: result.screen_name } %>
      <% elsif vimeo_result? %>
        <%= result["name"] %>
        <%= button_to "Subscribe", subscribe_vimeo_path, method: :patch, class: 'btn btn-primary', params: { uri: result["uri"] } %>
      <% end %>
    <br />
    </li>
  <% end %>
</ul>
