---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/search.json?q=cat
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="dJwBdO5ZoQH2OnCNjMKJvYnhn", oauth_nonce="2385b782457225a924e92aa897244638",
        oauth_signature="j68WuHvJBlAahPrtGVGKbntJ3tY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1452653563", oauth_token="80077789-0JZP99XKtgmjNYsHFH3PsrkQaAb618jBA3atLCbsl",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 13 Jan 2016 02:52:44 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 8c876b65cd7c66c0b361ceef17142552
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1452654464'
      X-Response-Time:
      - '117'
      X-Transaction:
      - 223a403a885a2a19
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"id":3040591972,"id_str":"3040591972","name":"Cute Cat Pictures","screen_name":"CutePicsOfCats","location":"","description":"The
        cutest pictures of cats! Tweet us pictures with your lovely cat!","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":72485,"friends_count":42498,"listed_count":328,"created_at":"Mon
        Feb 16 11:28:26 +0000 2015","favourites_count":51704,"utc_offset":-28800,"time_zone":"Pacific
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":15957,"lang":"en","status":{"created_at":"Wed
        Jan 13 02:45:58 +0000 2016","id":687103264257654784,"id_str":"687103264257654784","text":"This
        guy is crazy cute. https:\/\/t.co\/L5QpLRWB89","source":"\u003ca href=\"https:\/\/about.twitter.com\/products\/tweetdeck\"
        rel=\"nofollow\"\u003eTweetDeck\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":27,"favorite_count":46,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[],"media":[{"id":687103264127594496,"id_str":"687103264127594496","indices":[24,47],"media_url":"http:\/\/pbs.twimg.com\/media\/CYkUxz5WMAAch-P.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CYkUxz5WMAAch-P.jpg","url":"https:\/\/t.co\/L5QpLRWB89","display_url":"pic.twitter.com\/L5QpLRWB89","expanded_url":"http:\/\/twitter.com\/CutePicsOfCats\/status\/687103264257654784\/photo\/1","type":"photo","sizes":{"large":{"w":600,"h":600,"resize":"fit"},"medium":{"w":600,"h":600,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":340,"h":340,"resize":"fit"}}}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/567285191169687553\/7kg_TF4l_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/567285191169687553\/7kg_TF4l_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/3040591972\/1424086616","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},{"id":53112502,"id_str":"53112502","name":"Simon''s
        Cat","screen_name":"SimonsCat","location":"London, UK","description":"The
        official Twitter page of Simon''s Cat.","url":"http:\/\/t.co\/gBazSjkAtB","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/gBazSjkAtB","expanded_url":"http:\/\/www.simonscat.com","display_url":"simonscat.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":169819,"friends_count":220,"listed_count":2566,"created_at[...]
