---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?screen_name=CutePicsOfCats
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="dJwBdO5ZoQH2OnCNjMKJvYnhn", oauth_nonce="f19d3dfc8cde3daee0d8534240d2531b",
        oauth_signature="tmSKhJJSQsklqC6qmqF%2BlE%2BgKdI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1452813352", oauth_token="80077789-0JZP99XKtgmjNYsHFH3PsrkQaAb618jBA3atLCbsl",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 14 Jan 2016 23:15:52 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - e87fa795a838bbd8e46338186832455f
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '177'
      X-Rate-Limit-Reset:
      - '1452813741'
      X-Response-Time:
      - '57'
      X-Transaction:
      - de156b462e7660b8
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Thu Jan 14 22:45:57 +0000 2016","id":687767638320222208,"id_str":"687767638320222208","text":"Let
        your belly hang https:\/\/t.co\/TatCcdcBGc","source":"\u003ca href=\"https:\/\/about.twitter.com\/products\/tweetdeck\"
        rel=\"nofollow\"\u003eTweetDeck\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":3040591972,"id_str":"3040591972","name":"Cute
        Cat Pictures","screen_name":"CutePicsOfCats","location":"","description":"The
        cutest pictures of cats! Tweet us pictures with your lovely cat!","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":72931,"friends_count":42680,"listed_count":330,"created_at":"Mon
        Feb 16 11:28:26 +0000 2015","favourites_count":51694,"utc_offset":-28800,"time_zone":"Pacific
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":16060,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/567285191169687553\/7kg_TF4l_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/567285191169687553\/7kg_TF4l_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/3040591972\/1424086616","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":59,"favorite_count":112,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[],"media":[{"id":687767638227988480,"id_str":"687767638227988480","indices":[20,43],"media_url":"http:\/\/pbs.twimg.com\/media\/CYtxBeSWsAA6V4U.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CYtxBeSWsAA6V4U.jpg","url":"https:\/\/t.co\/TatCcdcBGc","display_url":"pic.twitter.com\/TatCcdcBGc","expanded_url":"http:\/\/twitter.com\/CutePicsOfCats\/status\/687767638320222208\/photo\/1","type":"photo","sizes":{"large":{"w":500,"h":375,"resize":"fit"},"medium":{"w":500,"h":375,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":340,"h":255,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":687767638227988480,"id_str":"687767638227988480","indices":[20,43],"media_url":"http:\/\/pbs.twimg.com\/media\/CYtxBeSWsAA6V4U.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CYtxBeSWsAA6V4U.jpg","url":"https:\/\/t.co\/TatCcdcBGc","display_url":"pic.twitter.com\/TatCcdcBGc","expanded_url":"http:\/\/twitter.com\/CutePicsOfCats\/status\/687767638320222208\/photo\/1","type":"photo","sizes":{"large":{"w":500,"h":375,"resize":"fit"},"medium":{"w":500,"h":375,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":340,"h":255,"resize":"fit"}}}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Thu
        Jan 14 22:19:05 +0000 2016","id":687760877001519105,"id_str":"687760877001519105","text":"Pets
        Losing the Battle With Human Furniture \ud83d\udc49 https:\/\/t.co\/x4CLOs2RQv
        https:\/\/t.co\/nrReyqJgSl","source":"\u003ca href=\"https:\/\/about.twitter.com\/products\/tweetdeck\"
        rel=\"nofollow\"\u003eTweetDeck\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":3040591972,"id_str":"3040591972","name":"Cute
        Cat Pictures","screen_name":"CutePicsOfCats","location":"","description":"The
        cutest pictures of cats![...]
