<h3>Twitter subscriptions:</h3>
<ul>
  <% @twitter_subscriptions.each do |subscription| %>
    <li>
      <%= subscription.screen_name %>
      <%= subscription.name %>
    </li>
  <% end %>
</ul>
<h3>Vimeo subscriptions:</h3>
<ul>
  <% @vimeo_subscriptions.each do |subscription| %>
    <li>
      <%= subscription.name %>
    </li>
  <% end %>
</ul>
