
TODO: Add back button
TODO: Allow subscriptions


<h1> Search Results </h1>
<div class="col-sm-6">
  <% @vimeo_results.each do |search| %>
  <% photo = search["pictures"] %>
  <% videos = search["metadata"]["connections"]["videos"]["total"] %>
    <% if videos != 0 %>
    <div class="well well-lg">
      <table width="100%">
        <tr>
          <td width="40%"><a href="/vimeo_results/<%= search["uri"] %>" ><%= search["name"] %></a></td>
          <td width="40%">
            <% if photo!= nil %>
              <%= image_tag(photo["sizes"][1]["link"], height: '75', width: '75') %>
              <% end %>
            </td>
            <td width="40%"><%= search["bio"]%></td>
          </tr>
        </table>
      </div>
    <% end %>
  <% end %>
  </div>
  <div class="col-sm-8"></div>
