<h1>This is the index page</h1>

<% if current_user %>
  <%= image_tag current_user.image %>
  <h1><%= current_user.name %></h1>
<% end %>

<%=raw @vid["html"] %>

<% if @feed.nil? %>
  <h1> @feed is nil right now.</h1>
<% else %>
  <% @feed.each do |feed_item| %>
    <%= feed_item %>
  <% end %>
<% end %>
