---
http_interactions:
- request:
    method: get
    uri: https://api.vimeo.com/users?fields=uri,name,pictures&page=1&per_page=25&query=purple
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer d05c3756683259bfcd22921e08a37d74
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.vimeo.user+json
      Fastly-Debug-Digest:
      - 06bcf456a4f5be27ff161436631bc1c962f9b59c78d6d12d334e93437af8a257
    body:
      encoding: UTF-8
      string: '{"total":1162,"page":1,"per_page":25,"paging":{"next":"/users?page=2&per_page=25&query=purple&fields=uri%2Cname%2Cpictures","previous":null,"first":"/users?page=1&per_page=25&query=purple&fields=uri%2Cname%2Cpictures","last":"/users?page=47&per_page=25&query=purple&fields=uri%2Cname%2Cpictures"},"data":[{"uri":"/users/1284412","name":"Purple
        Magazine","pictures":{"uri":"/users/1284412/pictures/1167071","active":true,"type":"custom","sizes":[{"width":30,"height":30,"link":"https://i.vimeocdn.com/portrait/1167071_30x30.jpg?r=pad"},{"width":75,"height":75,"link":"https://i.vimeocdn.com/portrait/1167071_75x75.jpg?r=pad"},{"width":100,"height":100,"link":"https://i.vimeocdn.com/portrait/1167071_100x100.jpg?r=pad"},{"width":300,"height":300,"link":"https://i.vimeocdn.com/portrait/1167071_300x300.jpg?r=pad"}]}},{"uri":"/users/5461646","name":"Purple
        Lotus","pictures":{"uri":"/users/5461646/pictures/6434434","active":true,"type":"custom","sizes":[{"width":30,"he[...]
- request:
    method: get
    uri: https://api.vimeo.com/users/1284412/videos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer d05c3756683259bfcd22921e08a37d74
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.vimeo.video+json
      Last-Modified:
      - '1452817027'
      Fastly-Debug-Digest:
      - f80c87af3a5ca473b23bf2fb1c3135075c2bb285e050e59b5a08f714151f60ec
    body:
      encoding: UTF-8
      string: '{"total":514,"page":1,"per_page":25,"paging":{"next":"/users/1284412/videos?page=2","previous":null,"first":"/users/1284412/videos?page=1","last":"/users/1284412/videos?page=21"},"data":[{"uri":"/videos/151666800","name":"You,
        the Living by Roy Andersson","description":null,"link":"https://vimeo.com/151666800","duration":130,"width":640,"language":null,"height":380,"embed":{"html":"<iframe
        src=\"https://player.vimeo.com/video/151666800?badge=0&autopause=0&player_id=0\"
        width=\"640\" height=\"380\" frameborder=\"0\" title=\"You, the Living by
        Roy Andersson\" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>"},"created_time":"2016-01-13T16:53:32+00:00","modified_time":"2016-01-14T23:15:28+00:00","content_rating":["language"],"license":null,"privacy":{"view":"anybody","embed":"whitelist","download":false,"add":false,"comments":"nobody"},"pictures":{"uri":"/videos/151666800/pictures/551470932","active":true,"type":"custom","sizes":[{"width":100,"height":75,"link":"https://i.vimeocdn.com/video/551470932_100x75.jpg?r=pad"},{"width":200,"height":150,"link":"https://i.vimeocdn.com/video/551470932_200x150.jpg?r=pad"},{"width":295,"height":166,"link":"https://i.vimeocdn.com/video/551470932_295x166.jpg?r=pad"},{"width":640,"height":381,"link":"https://i.vimeocdn.com/video/551470932_640x381.jpg?r=pad"},{"width":960,"height":571,"link":"https://i.vimeocdn.com/video/551470932_960x571.jpg?r=pad"}]},"tags":[],"stats":{"plays":46},"metadata":{"connections":{"comments":{"uri":"/videos/151666800/comments","options":["GET"],"total":0},"credits":{"uri":"/videos/151666800/credits","options":["GET","POST"],"total":1},"likes":{"uri":"/videos/151666800/likes","options":["GET"],"total":3},"pictures":{"uri":"/videos/151666800/pictures","options":["GET","POST"],"total":1},"texttracks":{"uri":"/videos/151666800/texttracks","options":["GET","POST"],"total":0},"related":{"uri":"/users/1284412/videos?offset=1","options":["GET"]}},"interactions":{"watchlater":{"added":false,"added_time":null,"uri":"/users/47520516/watchlater/151666800"},"like":{"added":false,"added_time":null,"uri":"/users/47520516/likes/151666800"}}},"user":{"uri":"/users/1284412","name":"Purple
        Magazine","link":"https://vimeo.com/purplediary","location":"New York City","bio":"The
        Official Blog of Purple Fashion Magazine","created_time":"2009-02-10T21:47:46+00:00","account":"pro","pictures":{"uri":"/users/1284412/pictures/1167071","active":true,"type":"custom","sizes":[{"width":30,"height":30,"link":"https://i.vimeocdn.com/portrait/1167071_30x30.jpg?r=pad"},{"width":75,"height":75,"link":"https://i.vimeocdn.com/portrait/1167071_75x75.jpg?r=pad"},{"width":100,"height":100,"link":"https://i.vimeocdn.com/portrait/1167071_100x100.jpg?r=pad"},{"width":300,"height":300,"link":"https://i.vimeocdn.com/portrait/1167071_300x300.jpg?r=pad"}]},"websites":[{"name":null,"link":"http://www.purple-diary.com","description":null}],"metadata":{"connections":{"activities":{"uri":"/users/1284412/activities","options":["GET"]},"albums":{"uri":"/users/1284412/albums","options":["GET"],"total":0},"channels":{"uri":"/users/1284412/channels","options":["GET"],"total":0},"feed":{"uri":"/users/1284412/feed","options":["GET"]},"followers":{"uri":"/users/1284412/followers","options":["GET"],"total":1383},"following":{"uri":"/users/1284412/following","options":["GET"],"total":3},"groups":{"uri":"/users/1284412/groups","options":["GET"],"total":2},"likes":{"uri":"/users/1284412/likes","options":["GET"],"total":1},"portfolios":{"uri":"/users/1284412/portfolios","options":["GET"],"total":0},"videos":{"uri":"/users/1284412/videos","options":["GET"],"total":514},"shared":{"uri":"/users/1284412/shared/videos","options":["GET"],"total":176},"pictures":{"uri":"/users/1284412/pictures","options":["GET","POST"],"total":1}},"interactions":{"follow":{"added":false,"added_time":null,"uri":"/users/47520516/following/1284412"}}},"preferences":{"videos":{"privacy":null}}},"app":null,"status":"available","embed_presets":{"uri":"/presets/120095067","name":"purple
        v2","settings":{"buttons":{"like":false,"watchlater":false,"share":false,"embed":false,"vote":false,"hd":false},"logos":{"vimeo":false,"custom":false,"sticky_custom":false},"outro":"nothing","portrait":"hide","title":"hide","byline":"hide","badge":false,"byline_badge":false,"collections_button":false,"playbar":true,"volume":true,"fullscreen_button":true,"scaling_button":false,"autoplay":false,"autopause":true,"loop":false,"color":"00adef","link":true,"color_original":null},"metadata":{"connections":{"videos":{"uri":"/presets/120095067/videos","options":["GET"],"total":515}}},"user":{"uri":"/users/1284412","name":"Purple
        Magazine","link":"https://vimeo.com/purplediary","location":"New York City","bio":"The
        Official Blog of Purple Fashion Magazine","created_time":"2009-02-10T21:47:46+00:00","account":"pro","pictures":{"uri":"/users/1284412/pictures/1167071","active":true,"type":"custom","sizes":[{"width":30,"height":30,"link":"https://i.vimeocd[...]
[...]
