<div class="col-md-12 text-center">
<% if !flash[:error].nil? %>
  <%= flash[:error] %>
<% end %>
</div>

<% if !current_spy.nil? %>
  <div class="container">
    <div class="page-header">
      <h1 id="timeline">Track Your Marks</h1>
    </div>
    <ul class="timeline">
      <li>
        <div class="timeline-badge twitter"><i class="fa fa-twitter"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Title</h4>
            <p><small class="text-muted"><i class="fa fa-clock-o"></i> Time</small></p>
          </div>
          <div class="timeline-body">
            <p>CONTENT</p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-badge vimeo"><i class="fa fa-vimeo"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Title</h4>
            <p><small class="text-muted"><i class="fa fa-clock-o"></i> Time</small></p>
          </div>
          <div class="timeline-body">
            <p>CONTENT</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
<% else %>

  <h1><div class="logo">AP<%= fa_icon "eye" %> SPY</div></h1>
  <h1><a class="company" href="/auth/twitter"><%= fa_icon "twitter" %></a>
  <a class="company" href="/auth/vimeo"><%= fa_icon "vimeo" %></a></h1>
<% end %>
