<h1>YOUR FEED</h1>

<% if current_spy %>
  Hi <%= current_spy.username %>.
  <%= link_to "Search on Twitter", search_path("twitter") %> 
  <%= link_to "Search on Vimeo", search_path("vimeo") %> 
<% end %>