/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.

 */

@import "bootstrap-sprockets";
@import "bootstrap";

html, body {
  font-family: 'Source Sans Pro', sans-serif;
  height: 100%;
  width: 100%;
}


.clipped-flow {
  overflow: hidden;
  height: 30px;
}

.centered {
  margin: 0 auto;
  text-align: center;
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
}

.even-narrower {
  max-width: 520px;
  margin: 0 auto;
}

iframe {
  max-width: 520px;
  max-height: 420px;
  margin: 0 auto;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  display: block;
}

iframe body {
  margin: 0 auto;
}

.feed_holder {
  overflow: auto;
  margin: 0 auto;
}

.form {
  padding: 15px;
  border: solid #84694f 3px;
  margin-top: 20px;
}

.narrower-holder {
  margin: 0 auto;
  width: 60%;
}

.title {
  text-align: right;
  font-family: 'Oxygen', sans-serif;
  float: right;
}

.title-link {
  font-size: 3em;
  color: #84694f;
}

.twitter-tweet {
  margin: 0 auto;
  min-width: 220px !important;
  max-width: 520px !important;
  max-height: none !important;
}


a:hover {
  text-decoration: none;
  color: #d5bb54;
}

.login-out {
  color: #645555;
  font-size: 1.7em;

}
img {
  margin-top: 28px;
}

// .search-button {
//   position: relative;
//   left: 20%;
// }

@media (max-width: 1200px) {

    .paws {
        display: none;
    }

}

.listed-users {
  list-style-type: none;
  border: solid #84694f 1px;
  border-radius: 5px;
  width: 165px;
  height: 177px;
  padding: 8px;
  margin: 25px;
  float: left;
}

.padded-bottom {
  padding-bottom: 5px;
}

.padded-top {
  padding-top: 10px;
}

.resized {
  width: 48px;
  height: 58px;
}

.search-results {
  color: #645555;
}

.paws {
  margin-left: 40px;
}

.login-button {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 33%;
  margin-right: 33%;

}

.fake-modal {
  margin-top: 40px;
  background-color: rgba(132,105,79,.7);
  border-radius: 7px;
}

.login-background {
  margin: 0;
  height: 100%;
  width: 100%;
  background: image_url("background-lynx.jpg") no-repeat 0% 30%;
  // background-size: cover;
}
