---
http_interactions:
- request:
    method: get
    uri: https://api.vimeo.com/users?fields=uri,name,pictures&page=1&per_page=25&query=cat
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer d05c3756683259bfcd22921e08a37d74
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.vimeo.user+json
      Fastly-Debug-Digest:
      - 9f2b73b6e1b4ad3c0e14d99dd10439f8287e75cd9f395a4d24f81a7c04be224d
    body:
      encoding: UTF-8
      string: '{"total":7922,"page":1,"per_page":25,"paging":{"next":"/users?page=2&per_page=25&query=cat&fields=uri%2Cname%2Cpictures","previous":null,"first":"/users?page=1&per_page=25&query=cat&fields=uri%2Cname%2Cpictures","last":"/users?page=317&per_page=25&query=cat&fields=uri%2Cname%2Cpictures"},"data":[{"uri":"/users/278624","name":"cat","pictures":{"uri":"/users/278624/pictures/8214811","active":true,"type":"custom","sizes":[{"width":30,"height":30,"link":"https://i.vimeocdn.com/portrait/8214811_30x30.jpg?r=pad"},{"width":75,"height":75,"link":"https://i.vimeocdn.com/portrait/8214811_75x75.jpg?r=pad"},{"width":100,"height":100,"link":"https://i.vimeocdn.com/portrait/8214811_100x100.jpg?r=pad"},{"width":300,"height":300,"link":"https://i.vimeocdn.com/portrait/8214811_300x300.jpg?r=pad"}]}},{"uri":"/users/6933694","name":"cat","pictures":{"uri":"/users/6933694/pictures/1958427","active":true,"type":"custom","sizes":[{"width":30,"height":30,"link":"[...]
